/* .btn{
	background-image: url('../../../img/findCity.png');
} */

.findCity{
	display: inline-block;
	margin-left: -27px;
	cursor: pointer;
}
.findCity img{
	transform: rotate(0.97turn);
}
.inputStl{
	padding: 2px 5px;
	text-decoration: none;
	font-size: 17px;
}

@media screen and (max-width: 479px){
	.findCity img{
		transform: rotate(0turn);
	}
}