.row{
	padding-top: 10px;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	/* background: rgb(2,67,89); */
}

.element a{
	display: block;
	height: 32px ;
	text-decoration: none;
	color: white;
}
.element div{
	font-size: 18px;

}
.element {
	padding-left:7px ;
	padding-right:7px ;
	cursor: pointer;
	border-bottom: 2px solid #045772;

}
.element:hover {
	border-bottom: 2px solid white;
}
.element:last-child:hover {
	border: none;
}
.element:last-child {
margin-top:-2px;
cursor:initial;
}

.activeElement{
	border-bottom: 2px solid white;
}

.header{
	width: 100%;
	background: #045772;
}






@media screen and (max-width: 479px) {
	body{
		overflow-x: hidden;
	}
	.row{
		width: 100%;
		flex-direction:column;
		align-items: center;
		transition: all .5s ease;
		padding-top: 0;
		height: 0;
	}	

	.element:hover {
		border-bottom: 1px solid #f5f5f5;
		

	}
	.activeElement{
		background: #1f9cc5;

		border-bottom: 1px solid #f5f5f5;
	
	}

	.element {
		padding-top: 7px;
		padding-right: 0;
		width: 100%;
		text-align: center;
		border-bottom: 1px solid #f5f5f5;
	
	}
	.element:first-child {
		border-top: 1px solid #f5f5f5;
	
	}
	.element:last-child {
		padding-bottom:  5px;
	
	}
	

	.rowToggle{
		display: none;
	}
	.rowToggle:checked ~ .row {
		display: flex;
		height: 200px;
		
	}
  .labelToggle{
	  display: block;
	  color: white;
	text-align: left;  
font-weight: bold;
padding: 7px 0 7px 7px;
}
	}